

.newfont {
	
	font-family: 'Diplomata SC', cursive;
}

.cdart{
	height: 300px;
	width: 300px;
	background-image: url(https://images-na.ssl-images-amazon.com/images/I/41Y02PTAJ5L.jpg) ;
	margin: 0 auto;
}

li {
	font-style: italic;
}

a {
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
	background-color: #9DD3CC;
}
/*
td {
	font-style: italic;
}

tr:nth-child(odd) {
	background-color: #FFE4B3;
}
tr:nth-child(even) {
	background-color: #9DD3CC;
}
*/