.header {
	font-family: Courier;
	background-color: #FFDB58;
}

.footer {
	 text-align: center;
	 background-color: #FFDB58;
}
h3 {
	font-size: 20px;
}

.menu {
	background-color: #FFFACD;
}

.contact tr > td {
	font-weight: bold;
}

span {
	font-weight: normal;
}


a:active { 
text-decoration: none;
}
a:visited {
	color: #F3558E;
}

a:hover {
	font-weight: bold;
}
#title {
	
	text-decoration: underline;
}



.jumbotron {
	
	background-image: url("lizard.png");
	background-size: cover;
	
}

.jumbotron h1 {
	color: white !important;
	font-weight: bold;
}



